.log{
    width: 100%;
    padding: 30%;
    background-image: url("./img/pexels-pixabay-258244.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    
}
.logcol{
    padding: 20%;
    width: 100%;
    border-radius: 25px;
}
.input-control input:focus {
    outline: 0;
}

.input-control.success input {
    border-color: #09c372;
}

.input-control.error input {
    border-color: #ff3860;
}

.input-control .error {
    color: #ff3860;
    font-size: 9px;
    height: 13px;
}