<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
<link href="https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&display=swap" rel="stylesheet">
<link rel="stylesheet" href="stye.css">
    <title>Aroma chic</title>
</head>
<body>
   <nav>
    <!--------------------------------------------------------------------------------------------------------------->
    <div class="navtop">
      <div class="navitem">
        <img src="./img/aromachic2.jpg" width="120" height="60" alt="">
      </div>
      <div class="search">
        <input type="text" placeholder="search..." height="15" class="inputSearch">
        <img src="./img/search.png" width="20" height="20" alt="">
      </div>
      <div class="navitem">
        <span class="limitedoffer">limitedoffer</span>
      </div>
    </div>
    <!--------------------------------------------------------------------------------------------------------------->
    <div class="navBottom">
      <h3 class="menuItem"><a href="/men"><button type="button" style="color: white;background-color: black;border:1px solid;border-color: black;" >MEN</button></a></h3>
      <h3 class="menuItem"><a href="/WOMEN"><button type="button" style="color: white;background-color: black;border:1px solid;border-color: black;" >WOMEN</button></a></h3>
      <h3 class="menuItem"><a href="/UNISEX"><button type="button" style="color: white;background-color: black;border:1px solid;border-color: black;" >UNSEX</button></a></h3>
      <h3 class="menuItem"><a href="/Seasonpackage"><button type="button" style="color: white;background-color: black;border:1px solid;border-color: black;" >SEASON PACKAGE</button></a></h3>
      <h3 class="menuItem"><a href="/dropouts"><button type="button" style="color: white;background-color: black;border:1px solid;border-color: black;" >NEW DROPOUT</button></a></h3>

    </div>
    <!--------------------------------------------------------------------------------------------------------------->
    <div class="product-container">
        <div class="product-item">
            <img src="./img/Scandel.png" alt="SCANDEL">
            <h2>Scandal Absolu by Jean 
              Paul Gaultier for Women</h2>
            <p style="color: aquamarine;">Top notes are Blood Orange and Mandarin Orange, middle notes are Honey, Gardenia, Orange Blossom, Jasmine and Peach; base notes are Beeswax, Caramel, Patchouli and Licorice</p>
        </div>
        <div class="product-item">
            <img src="./img/Narciso.png" alt="Narciso Rodriguez For Her Musc Nude Eau de Parfum">
            <h2>Narciso Rodriguez For Her Musc Nude Eau de Parfum</h2>
            <p style="color: aquamarine;">Top notes are White Flowers, Jasmine and Pink Pepper, middle notes are Musk, Damask Rose and Orange Blossom and base notes are Tonka Bean, Patchouli and Cedarwood</p>
            <a href="/addtocart">
              <button type="button" class="butt2">Add to Cart</button>
            </a>
        </div>
        <!-- Repeat for as many products as you have -->
        <div class="product-item">
            <img src="./img/Tom.png" alt="Tom_Ford_Vanille_Fatale-removebg-preview.png">
            <h2>Tom Ford Vanille Fatale</h2>
            <p style="color: aquamarine;">Top notes are Rum, Myrrh, Olibanum,
               Saffron, Coriander, Orange and Lime,
                middle notes are Barley, Coffee, Plum, Frangipani, Narcissus, Artemisia and Rose; base notes are Madagascar Vanilla, Suede, Tobacco, Mahogany, Patchouli, Oakmoss and Violet.</p>
            <a href="/addtocart">
                <button type="button" class="butt3">Add to Cart</button>
            </a>
        </div>
    </div>