select{
    margin-left: 100px;
}
.main{
    margin-top: 40px;
    margin-left: 200px;
    text-align: center;
}
body{
    background-image: url("back.jpg");
}
label{
    text-decoration: white;
}
body{
    font-family: "Oswald", sans-serif;
    padding: 0;
    margin: 0;
    height: 100%;
    width: 100%;
    background-color:white;
}

nav{
    background-color: black;
    color: white;
    padding: 20px 50px;
}
.navtop{
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.search{
    display: flex;
    align-items: center;
    background-color: white;
    padding: 10px 20px;
    border-radius: 10px;
}
.inputsearch{
    border: none;
    background-color: transparent; 
}
.inputsearch::placeholder{
    color:lightgray;
}
.limitedoffer{
    font-size: 20px;
    border-bottom: 2px solid aqua;
    cursor: pointer;
}
.navBottom{
    display: flex;
    align-items: center ;
    justify-content: center;
    background-color: black;
}
.menuItem{
    margin-right: 55px;
    color: white;
    cursor: pointer;
    font-weight: 400;
}
.input-control input:focus {
    outline: 0;
}

.input-control.success input {
    border-color: #09c372;
}

.input-control.error input {
    border-color: #ff3860;
}

.input-control .error {
    color: #ff3860;
    font-size: 9px;
    height: 13px;
}